@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$primary: #8D1F40;
$text: white;
$secondary: lightgreen;

$thirdly: lightblue;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin maroonButton {
  background-color: $primary;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20px;
}

